nav{
	background-color: lightgreen;
	color: black;
	padding: 10px;
}

nav ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li{
	display: inline;
	margin-right: 80px;
}

li a{
	padding: 10px;;
	text-decoration: none;
	font-size: 30px;
	font-weight: bolder;
	font-family: monospace;

}

a:hover{
	color: red;
	border: 1px solid black;
	border-radius: 10px;
}

.mytable{
	width: 100%;
	margin-top: 20px;


}
.tablecontainer{
	max-width: 700px;
	margin: auto;
}

.tablecontainer table{
	border: 2px solid black;
	border-collapse: collapse;
}

.tablecontainer table th{
	padding: 15px;
	background-color: green;
	color: white;
	font-weight: bolder;
}

.tablecontainer table td{
	background-color: lightgrey;

}

.tablecontainer table th,.tablecontainer table td{
	padding: 10px;
	font-size: 20px;
	border: 1px solid black;

}
