/* flex basis is just like width but in a responsive way. when you setup 
	flex basis it will start with that value (px,em etc) and when you use
   flex-grow it will grow from there

	
 */

.flexcontainer{
	display: flex;
	border: 2px solid black;
}
.flexitem{
	padding: 1em;
	font-size: 1.2em;
	text-align: center;
	font-weight: bolder;
	color: #fff;
	font-style: italic;
	flex-grow: 1;



}



#one{
	background-color: blue;
	flex-basis: 10em;
}
#two{
	background-color: yellow;
}
#three{
	background-color: green;
}
#four{
	background-color: purple;
}
#five{
	background-color: red;
}
#six{
	background-color: cyan;
}
#seven{
	background-color: pink;
}
#eight{
	background-color: yellow;
}

